[core]
  autocrlf = false
  excludesfile = "~/.gitignore_global"
[user]
  name = Jaron Zijlstra
  email = jaron_zijlstra@outlook.com
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[pull]
  rebase = true
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
